$body-bg: #0A0A0A;
$theme-colors: (
  "primary": #FF0B45,
  "secondary": #25E1BB,
  "dark": $body-bg,
  "light": #DDDDDD
);
$text-color-light-gray: #EEEEEE;
$link-color: $text-color-light-gray;

@import "bootstrap/bootstrap";

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: 'Roboto';
  color: $text-color-light-gray
}

h1 {
  font-size: 4rem;
}

.btn {
  text-transform: uppercase;
}

/* Jumbotron
------------------------- */
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: unset;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem; } }

.jumbotron p:last-child {
  margin-bottom: 0; }

.jumbotron .container {
  max-width: 40rem; }

/* Featurettes
------------------------- */
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px; } }

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem; } }
