$body-bg: #0A0A0A;
$primary-color: #FF0B45;
$theme-colors: (
  "primary": $primary-color,
  "secondary": #25E1BB,
  "dark": $body-bg,
  "light": #DDDDDD
);
$text-color-light-gray: #EEEEEE;
$link-color: $text-color-light-gray;

@import "bootstrap/bootstrap";

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  font-family: 'Roboto';
  color: $text-color-light-gray
}

h1 {
  font-size: 5rem;
}

p.lead {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn {
  text-transform: uppercase;
  font-weight: 450;
  padding: 0.75rem 1.5rem;
}

section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

main > section:first-child {
  padding-top: 20rem;
}

main > section:last-child {
  padding-bottom: 20rem;
}

div.outline-container {
  position: relative;
}

div.outline {
  display: block;
  border-color: $primary-color;
  position: absolute;
  border-width: 4px;
  width: 10em;
  border-width: 1px;
  border-radius: 2rem;
  border-style: solid;
  top: -20%;
  right: -20%;
  width: 140%;
  height: 140%;
}

.borderline {
  
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Jumbotron
------------------------- */
.jumbotron {
  margin-bottom: 0;
  background-color: unset;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem; } }

.jumbotron p:last-child {
  margin-bottom: 0; }


/* Featurettes
------------------------- */
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -.05rem; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px; } }

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem; } }

footer {
  border-top: $primary-color;
  border-top-width: 1px;
  border-top-style: solid;
}
