{{ define "main" }}
<section class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading">La plataforma que conecta los e-sports.</h1>
    <p class="lead">Conectamos jugadores y profesionales que buscan equipos de e-sports con los mejores clubs.</p>
    <p>
      <a href="{{ .Site.Params.appUrl }}" class="btn btn-primary my-2">Ver ofertas</a>
    </p>
  </div>
</section>

<section>
  <div class="container outline-container">
    <div class="outline"></div>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-primary">¿Cansado de perder el tiempo en equipos que duran 3 semanas?</h2>
        <p class="lead">En Riftlink encontrarás ofertas de los clubes más consolidados del circuito.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/assets/img/art-1.png" width="500" height="500">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Nuestras ofertas</h1>
        <p>
          <a href="{{ .Site.Params.appUrl }}" class="btn btn-secondary my-2">Echar un vistazo</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container outline-container">
    <div class="outline"></div>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-primary">¿Estás buscando profesionalizar tu actividad en los e-sports?</h2>
        <p class="lead">Encuentra ofertas remuneradas de clubes en los que hacer despegar tu carrera.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/assets/img/art-2.png" width="500" height="500">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">¿Quieres potenciar tu marca personal en los e-sports?</h2>
        <p>
          <a href="{{ .Site.Params.appUrl }}" class="btn btn-secondary my-2">Registrarme</a>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/assets/img/art-3.png" width="350" height="350">
      </div>
    </div>
  </div>
</section>

{{ end }}
